<!DOCTYPE html>
<html lang="en">
    <style>
        body {
            background-color: #C1D0D0;
            font-family: Roboto, Arial, sans-serif;
        }
        th, td {
            border-bottom: 1px solid #ddd;
            padding: 15px;
            text-align: left;
        }
    </style>
    
  <head>
     <button class="navbutton"><a href="{% url 'add-order' %}">Add a new Order</a></button>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock title %}</title>
  </head>
  <body>
    {% block content %}{% endblock content %}
  </body>
  <br>
  <a href="/">Home</a>
</html>